config.txt
*.config
Token.*
**/.DS_Store
chromedriver
1.1 BUS_STATION_BOARDING_MONTH_202204.csv
1.2 seoul_moving_month_4.csv
.DS_Store
notMNIST_small.mat
**/yolov3/
**/yolov5/
/mini_project3/video/
/mini_project3/test/
/mini_project3/model/
/mini_project3/image/
/deep_learning/03-NLP/data/
**/data/
**/add_data/
**/raw_data/
